.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #0f172a;
  color: white;
  font-family: sans-serif;
}

.lottie-container {
  width: 600px;
  max-width: 90%;
  height: 400px;
}
